{% extends "layout.twig"%}

{% block body %}
    <div id="page">
        {% if is_mobile() == false %}
            <div id="chambres" style="float:left">
                <h2>Les images des chambres</h2>
                <ul id="mycarousel" class="jcarousel-skin-ie7">
                    {% for image in aImages %}
                        <li class="mini"><a title="{{image['description']}}"
                                            style="width: 200px; height: 150px;" rel="example_group"
                                            href="https://res.cloudinary.com/afriat/image/upload/c_limit,h_400,w_800/villafratelli/images/big/{{ page }}/{{ image['nom'] }}">
                                <img alt="Cliquez ici" title="Cliquez ici"
                                     src="https://res.cloudinary.com/afriat/image/upload/c_limit,h_150,w_200/villafratelli/images/big/{{ page }}/{{ image['nom'] }}" />
                            </a><br /> <a href="/download/{{ image['idImages'] }}">Télécharger</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div id="chambres">
                <h2>Les images des chambres</h2>
                {% for image in aImages %}
                    <div style="width: 100%; text-align: center;">
                        <a
                            href="https://res.cloudinary.com/afriat/image/upload/c_scale,h_400,w_800/villafratelli/images/big/{{ page }}/{{ image['nom'] }}">
                            <img alt="Cliquez ici" title="Cliquez ici" style="border: 40px solid gray; margin: 40px;"
                                 src="https://res.cloudinary.com/afriat/image/upload/c_scale,h_400,w_800/villafratelli/images/big/{{ page }}/{{ image['nom'] }}" /></a>
                        <br />
                    </div>
                    <br /> <br /> <br /> <br />
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
